
<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <script src="style/Chart.js"></script>
    <script src="style/utils.js"></script>
    <link rel="stylesheet" href="style/style.css" />
</head>

<body>
    <script>
createBarChart("example", {
    labels: ["0","","","3"],
    datasets: [
        {
                backgroundColor: "red",
                data: [1, -2, 3, 4]
            }, {
                backgroundColor: "blue",
                data: [1, 2, 3, 4]
            }]
    });
    </script>
</body>

</html>
