
<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <script src="style/Chart.js"></script>
    <script src="style/chartjs-utils.js"></script>
    <link rel="stylesheet" href="style/style.css" />
</head>

<body>
    <script>
{{ #attr_data_set }}
createBarChart({
    labels: {{{ labels }}},
    datasets: {{{ data_set }}}
}, {
    {{ #attr }}
    title: "{{ attr }}", 
    {{ /attr }}
    {{ #width }}
    width: {{ width }},
    {{ /width }}
    {{ #height }}
    height: {{ height }},
    {{ /height }}
});
{{ /attr_data_set }}
    </script>
</body>

</html>
